<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 상세 패키지 레벨 조절 -->
    <logger name="com.jintakkim.postevaluator" level="DEBUG"/>
</configuration>